In [1]:
import pandas as pd

In [2]:
db = pd.read_csv('02-14-2018.csv')

In [3]:
db.head(n = 8, )

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,0,0,14/02/2018 08:31:01,112641719,3,0,0,0,0,0,...,0,0.0,0.0,0,0,56320859.5,139.300036,56320958,56320761,Benign
1,0,0,14/02/2018 08:33:50,112641466,3,0,0,0,0,0,...,0,0.0,0.0,0,0,56320733.0,114.551299,56320814,56320652,Benign
2,0,0,14/02/2018 08:36:39,112638623,3,0,0,0,0,0,...,0,0.0,0.0,0,0,56319311.5,301.934596,56319525,56319098,Benign
3,22,6,14/02/2018 08:40:13,6453966,15,10,1239,2273,744,0,...,32,0.0,0.0,0,0,0.0,0.000000,0,0,Benign
4,22,6,14/02/2018 08:40:23,8804066,14,11,1143,2209,744,0,...,32,0.0,0.0,0,0,0.0,0.000000,0,0,Benign
5,22,6,14/02/2018 08:40:31,6989341,16,12,1239,2273,744,0,...,20,0.0,0.0,0,0,0.0,0.000000,0,0,Benign
6,0,0,14/02/2018 08:39:28,112640480,3,0,0,0,0,0,...,0,0.0,0.0,0,0,56320240.0,203.646753,56320384,56320096,Benign
7,0,0,14/02/2018 08:42:17,112641244,3,0,0,0,0,0,...,0,0.0,0.0,0,0,56320622.0,62.225397,56320666,56320578,Benign